.DS_Store
packer_cache
output-*
*.box
*.vmdk
*.ovf
*.ovf
*.zip
*gz
*.iso
*.rendered
license*.xml
testing-box
.vagrant
training-webserver/html
docker-compose.override.yml
**/local-m2-cache/**/*.jar
**/local-m2-cache/**/*.sha1
**/local-m2-cache/**/*.pom
**/local-m2-cache/**/*.repositories
**/local-m2-cache/**/*.xml
